* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.sidebar {
    background: #1e2939;
    width: 370px;
    padding-top: 40px;
    padding-bottom: 40px;
}
.my-photo {
    width: 370px;
}
body {
    font-family: 'Montserrat';
    /* background: #f5f7fa; */
    background: #face8d;
    padding: 20px;
}
.wrapper {
    background: #ffffff;
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
}
.contacts-container {
    padding-left: 40px;
    box-sizing: border-box;
    margin-top: 60px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 40px;
}
.aside-titles {
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    color: #fff;
    margin-bottom: 15px;
}
.contacts-link {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #d8dadd;
}
.contacts-link-type {
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    color: #fff;
    margin-right: 10px;    
}
.lenguages-container {
    padding-left: 40px;
    box-sizing: border-box;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 40px;
    color: #ffffff;   
}
/* .languages-title {
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 15px;
} */
.languages-dots {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #ff6b08;
}
.aside-text {
    color: #d8dadd;   
}
.learn-container {
    padding-left: 40px;
    box-sizing: border-box;
    margin-left: 20px;
    margin-right: 20px;
    color: #ffffff;  
}
.about-me-container {
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 110px;
    padding-bottom: 110px;
}
.profession {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 20px;
}
.name {
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 10px;
}
.description {
    color: #595959;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 40px;
    letter-spacing: 0.42px;
}
.main-container {
    background: #fff;
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 110px;
    padding-bottom: 110px;
}
.main-titles {
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 10px;
}
.experience-title {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 10px;
}
.experience-company {
    color: #ff6b08;
}
.experience-container {
    width: 400px;
    margin-bottom: 30px;
}
.tech-skills-container {
    width: 400px;
    margin-bottom: 30px;
}
.soft-skills-container {
    width: 400px;
    margin-bottom: 30px;
}
.courses-container {
    width: 400px;
    margin-bottom: 30px;
}
.education-container {
    width: 400px;
    margin-bottom: 30px;
}
.education-period {
    color: #a8a8a8;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 10px;
}

.education-speciality {
    margin-top: 10px;
    font-weight: 700;
}
.text-container {
    color: #595959;
}
.dots {
    color: #ff6b08;
    margin-left: 20px;
}
.experience-text {
    font-weight: 400;
    color: #595959;    
}
.number {
    font-weight: 700;
    margin-left: 20px;
}